<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
</head>
<body>
    <a href="/create">Add a blog post</a>
    <h1> Welcome to the tech blog</h1>


{{{body}}}

</body>
</html>