    <h1>Posts</h1>

    {{#each post}}
    <div class="post"> 
        <h3>{{text}}</h3>
        <p>Created On: {{createdAt}}</p>
    </div>
    {{/each}}


    {{#unless post}}
    <p>Nothing has been posted yet </p>
    {{/unless}}