<div class="d-flex align-items-center justify-content-center flex-column h-75">
    <h1>Till next time !</h1>
    <a action="submit" class="text-decoration-none tex-info border border-dark-subtle border-4 rounded p-2" href="/login">Login</a>
</div>