<h1>Register</h1>

<form action="/api/users/auth/register" method="POST" class="register-form px-5" id="register">
    <input class="text-input row mt-3 ms-1 form-control" name="username" type="text" placeholder="Enter your username">
    <input class="text-input row mt-3 ms-1 form-control" name="email" type="text" placeholder="Enter your email">
    <input class="text-input row mt-3 ms-1 form-control" name="password" type="password"
        placeholder="Enter your password">
    <button class="btn btn-success row mt-3 ms-1 form-control" id="register-btn" type="submit">Register</button>
</form>