<div class="d-flex flex-column align-items-center justify-content-center h-75 ">
    <h1>Register</h1>
   <form class="d-flex flex-column align-items-center justify-content-center gap-2" action="/api/users/auth/register" method="POST">
  <div class="mb-3">
    <input name="email" type="email" class="form-control" id="email" placeholder="Enter your email">
  </div>
  <div class="mb-3">
    <input name="username" type="text" class="form-control" id="email" placeholder="Enter your username">
  </div>
  <div class="mb-3">
    <input name="password" type="password" class="form-control" id="password" placeholder="Enter your password">
  </div>
  <button type="submit" class="btn btn-info form-control">Submit</button>
 
</form>
</div>








