<div class="d-flex flex-column align-items-center justify-content-center">
    <h1>Register</h1>
    <form method="POST" action="api/users/auth/register"  class="d-flex flex-column align-items-center justify-content-center p-3 bg-color-dark">
        <input class="mb-2" type="text" name="username" placeholder="enter your username">
          <input class="mb-2" type="text" name="email" placeholder="enter your email">
            <input class="mb-2" type="text" name="password" placeholder="enter your password">
            <button  type="submit"  class="btn btn-primary">Register</button>
            <a href="/register" >Already a user? Login here</a>
    </form>
</div>